body {
    width: 100%;
    height: 100vb;
    background-color: rgba(161, 237, 245, 1);
    background-size: contain;
    border-spacing: 10%;
    margin: 0px;
}

.img {
    width: 100%;
    text-align: center;
    vertical-align: top;
    height: 20%;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
    color: rgba(20, 25, 73, 1);
    font-size: x-large;
    text-decoration: underline;
    vertical-align: top;
    height: 15vh;
}

.back {
    height: 10vb;

}

table {
    width: 100%;
    height: 98vh;
}

h1 {
    margin: 0;
}

img {
    vertical-align: top;
    margin-top: auto;
    height: 20vb;
    width: 12%;
}

.a {
    height: 10vh;
}

.b {
    text-align: right;
}

button {
    background-image: url(Group\ 3.png);
    height: 55px;
    width: 200px;
    border-radius: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(161, 237, 245, 1);
    border: 0;
}

.text {
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    color: rgba(20, 25, 73, 1);
    font-size: x-large;
    font-weight: bold;
    vertical-align: top;
    height: 10vh;
}

.venha {
    text-align: center;
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
    color: rgba(20, 25, 73, 1);
    font-size: x-large;
    height: 6vh;
}

.endereco {
    width: 100%;
    text-align: center;
    vertical-align: top;
    height: 25vh;
}

#img2 {
    height: 30vh;
    width: 50vh;
}

.btn2 {
    background-image: url(Group\ 4\ \(2\).png);
}

.btn {
    background-image: url(voltar.png);
    text-align: right;
}

.bb {
    background-image: url(voltarr.png);
    text-align: left;
}

.botao {
    text-align: right;
}